[Desktop Entry]
Version=15.0
Name=Kreka
Comment=Kreka - Simple web-browser on GTK3!
Exec=/usr/local/bin/kreka --name "Kreka"
Icon=/usr/share/icons/kreka.png
Path=/usr/local/bin
Terminal=false
Type=Application
Categories=Network;WebBrowser;
